/Firmware/build
winIDEA/nrf52840_iC5000.Progress.log
/Hardware/Altium/__Previews
/Hardware/Altium/Hardware
/Hardware/Altium/History
/Hardware/Altium/Project Logs for SSST
/Hardware/Altium/Project Outputs for SSST
/Hardware/Altium/STEP
/Hardware/Altium/SSST.PrjPcbStructure
